@media (max-width: 1200px){

}

@media (max-width: 992px){
    .container {
        max-width: 850px;
    }
    
    .promo {
        padding-bottom: 70px;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 10px;
        }
        &__icons{
            margin-top: 50px;
        }
    }
}

@media (max-width: 768px){
    .container {
        max-width: 700px;
    }

    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 16px;
        }
    }

    .promo {
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 0;
        }
        &__icons {
            width: 375px;
            margin-top: 45px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 14px;
        }
    }

    .button {
        &_main {
            margin-top: 95px;
        }
    }

    .advantages {
        padding: 55px 0 50px 0;
        min-height: 400px;
        &__item {
            font-size: 13px;
            img {
                width: 50px;
                height: 50px;
            }
            span {
                font-size: 13px;
            }
        }
        .item_header {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    .title {
        font-size: 26px;
        margin-bottom: 25px;
        &_left {
            margin-bottom: 15px;
        }
    }

    .consultation {
        &__descr {
            font-size: 18px;
        }
    }

    .feed-form {
        width: 275px;
        input {
            height: 45px;
        }
        .button_submit {
            height: 45px;
            font-size: 16px;
        }
        &_mt25 {
            margin-top: 25px;
            width: 100%;
        }
    }

    .review {
        h2 {
            font-size: 26px;
        }
        &__photo {
            width: 150px;
            height: 150px;
        }
        &__name {
            font-size: 16px;
        }
        &__text {
            font-size: 14px;
        }
    }

    .footer {
        height: 580px;
    }
}

@media (max-width: 576px){
    .container {
        max-width: 530px;
    }

    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }

    .promo {
        min-height: 500px;
        padding-bottom: 50px;
        &_contacts {
            font-size: 14px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icons{
            width: 300px;
            margin-top: 40px;
        }
    }

    .button {
        width: 140px;
        height: 25px;
        font-size: 10px;
        &_main {
            margin-top: 100px;
            width: 200px;
            height: 40px;
            font-size: 13px;
        }
        &_submit {
            width: 100%;
        }
        &_mini {
            height: 35px;
            font-size: 14px;
        }
    }

    .advantages {
        padding: 40px 0 40px 0;
        min-height: 300px;
        &__items {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__item {
            font-size: 18px;
            margin-top: 40px;
            width: 100%;
            img {
                width: 70px;
                height: 70px;
                margin-bottom: 20px;
            }
            span {
                font-size: 18px;
            }
        }
        .item_header {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .title {
        font-size: 28px;
    }

    .carousel {
        &__inner {
            margin: 0 37px;
        }
    }

    .catalog {
        padding-bottom: 50px;
        &__tab {
            font-size: 15px;
        }
    }

    .review {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            margin: 0;
            margin-bottom: 20px;
        }
        &__wrapper {
            text-align: center;
        }
    }

    .footer {
        height: 450px;
        &__info {
            width: 350px;
            height: 200px;
        }
        &__addr {
            font-size: 15px;
            margin-bottom: 15px;
        }
        &__phone {
            font-size: 15px;
            margin-bottom: 15px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
            img{
                height: 17px;
            }
        }
    }
}